{% extends 'default.html' %}
{% block content %}
<!-- ======landing page======= -->

<section>
    <div class="grid grid-cols-2">
        <div>
            <p class="text-gray-800 text-6xl text-bold pl-32 pt-24">Who we are?</p>
            <p class="text-gray-800 text-xl pl-32 py-12">Whiltor is a consulting service that can help you with all of
                your professional decisions and ideas by providing you with powerful and clever solutions. With our
                extensive knowledge, precise solutions, and user-friendly interface, we take you from planning to
                implementation. We are a team of extremely talented professionals who are passionate about what they do
                and who collaborate to develop the best approach for identifying, assessing, and answering your
                concerns. Whiltor is that point of contact that brings accomplishment at your footsteps.</p>
            <span class="bg-yellow-400 text-2xl rounded ml-32 my-12 ">&nbsp&nbspGet Started &nbsp&nbsp</span>
        </div>
        <div><img style="width: 100%;" src="https://whiltor.com/assets/img/about-us-landing.png"></div>
    </div>
</section>
<!-- ===========section2=========== -->
<section>
    <div class="place-items-center">

        <div class="max-w-full rounded overflow-hidden shadow-lg" style="margin: 30px;background-color: white;">
            <div class="grid grid-cols-3">
                <div class="place-items-center px-16 py-16 grid grid-cols-4">
                    <div><i class="fa fa-bolt text-red-500 text-4xl"></i></div>
                    <div class="col-span-3">
                        <p class="text-gray-800 text-xl py-4">TARGET</p>
                        <p class="text-gray-800 text-md">Think of your dream work, set your goal, step ahead and start
                            your project with us.</p>
                    </div>
                </div>

                <div class="place-items-center px-16 py-16  grid grid-cols-4">
                    <div><i class="fa fa-navicon text-red-500 text-4xl"></i></div>
                    <div class="col-span-3">
                        <p class="text-gray-800 text-xl py-4">CONSULT</p>
                        <p class="text-gray-800 text-md">Do not proceed with a doubt in your head. Consult us when .</p>
                    </div>
                </div>
                <div class="place-items-center px-16 py-16  grid grid-cols-4">
                    <div><i class="fa fa-smile-o text-red-500 text-4xl"></i></div>
                    <div class="col-span-3">
                        <p class="text-gray-800 text-xl py-4">ACHIEVE</p>
                        <p class="text-gray-800 text-md">With the providential help of Whiltor, achieve the target set.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- ==========section3======= -->
<section>
    <div class="grid grid-cols-1 place-items-center py-32">
        <p class=" text-gray-900 text-4xl">What we do?</p>
        <p class=" text-gray-500 text-md py-8 ">Whiltor bridges the gap between your vision and it's reality with the best in class services, assuring trust and excellence in each task.</p>
        <div class="grid grid-cols-2 place-items-center">
            <div><img src="https://whiltor.com/assets/img/business-3d-brilliant-idea-1.png"></div>
            <div class="pr-16">Whiltor is helping thousands of businesses to grow and establish a brand image that helps them achieve their company goals faster. We are known for providing quality services in the field of marketing, branding, development, etc. We at Whiltor help you turn your idea into a product. Strategize, innovate and transform your dream into reality with Whiltor.

                <div class="grid grid-cols-3 place-items-center py-4 px-8">
                    <div>
                    
                        <i class="fa fa-arrows text-red-500 text-4xl"></i> <P>TARGET</P>
                    </div>

                    <div>
                        <i class="fa fa-comments text-red-500 text-4xl"></i> 
                      <p>CONSULT</p>
                    </div>

                    <div>
                        <i class="fa fa-plane text-red-500 text-4xl"></i> 
                        <p>ACHIEVE</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==============section4====== -->
<section>
    <div class="grid grid-cols-1 place-items-center py-16">
        <p class="text-4xl font-bold">Our Vaules</p>
        
        <div class="grid grid-cols-3 place-items-center">
            <div>
                <img src="https://whiltor.com/assets/img/girl-1.png" class="-mb-32 px-32 ">
                <div class="max-w-sm rounded overflow-hidden shadow-lg"
                    style="margin: 30px;background-color: white;">
                    <div class="px-6 pt-24 pb-6">
                        <p class="text-gray-700 text-base pb-6 " style="font-size: 30px;">MISSION</p>
                        <p class="text-gray-700 text-base">
                            We at Whiltor are committed to bring the best in our society and to remove hesitation from our youth to start a new venture of thier own due lack of knowledge of a technology or resources. We are continously working to motivate and provide sevices to our youth so that they always take a step ahead and achieve their targets.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <img src="https://whiltor.com/assets/img/boy-1.png"
                    class="-mb-32 px-32 mt-24">
                <div class="max-w-sm rounded overflow-hidden shadow-lg mt-24"
                    style="margin: 30px;background-color: white;">
                    <div class="px-6 pt-24 pb-6">
                        <p class="text-gray-700 text-base pb-6 " style="font-size: 30px;">VISION</p>
                        <p class="text-gray-700 text-base">
                            Our vision is to deliver happiness and satisfation to our customers and innovaters. We see our company bringing better opportunities for the passionate who are people willing to take a step forward and achieve their goals. We aim to provide customer-valued solutions with the best prices, products and services.</p>
                    </div>
                </div>
            </div>
            <div>
                <img src="https://whiltor.com/assets/img/girl-2.png" class="-mb-32 px-32 ">
                <div class="max-w-sm rounded overflow-hidden shadow-lg"
                    style="margin: 30px;background-color: white;">
                    <div class="px-6 pt-24 pb-6">
                        <p class="text-gray-700 text-base pb-6 " style="font-size: 30px;">GOAL</p>
                        <p class="text-gray-700 text-base">
                            Our ultimate goal is to make Whiltor the first choice for product development, branding and social media management and to be the global leader in supporting the development of the next generation of technology and projects. Our goal is to be the company that best understands your needs and provides the best solutions to your business.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- =============section 5=========== -->
<section>
    <div class="grid grid-cols-1 place-items-center py-16">
        <p class="text-4xl font-bold">What we do?</p>
        <p class="text-xl text-gray-400 py-8">Our Artificial Intelligence powered tools use millions of project data</p>
        <div class="grid grid-cols-3 place-items-center">
            <div>

                
                <div class="max-w-sm rounded overflow-hidden shadow-lg"
                    style="margin: 30px;background-color: white;">
                    <div class="px-6 pt-8 pb-6">
                        <i class="fa fa-question-circle-o text-blue-500 text-6xl"></i> 
                        <p class="text-gray-700 text-base pb-6 " style="font-size: 30px;">CONFUSED</p>
                        <p class="text-gray-700 text-base">
                            Confused where to go and what to do next or how to solve an error or bug? Don't worry you are at the right place. We have solutions to all your problems. Give us a call and get your error solved.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                
                <div class="max-w-sm rounded overflow-hidden shadow-lg mt-24"
                    style="margin: 30px;background-color: white;">
                    <div class="px-6 pt-8 pb-6">
                        <i class="fa fa-star text-blue-500 text-6xl"></i>
                        <p class="text-gray-700 text-base pb-6 " style="font-size: 30px;">WE HAVE AN ANSWER.!!</p>
                        <p class="text-gray-700 text-base">
                            Imagine all your errors or bugs being solved in a minute with just a call!! Moreover, getting your project done by someone else with all the specifications and features you need. Is it less than a miracle? Yes, whiltor performs this miracle! Get your errors solved or cherry to the cake get your project done by our expert team.</p>
                    </div>
                </div>
            </div>
            <div>
                
                <div class="max-w-sm rounded overflow-hidden shadow-lg"
                    style="margin: 30px;background-color: white;">
                    <div class="px-6 pt-8 pb-6">
                        <i class="fa fa-tags text-blue-500 text-6xl"></i>
                        <p class="text-gray-700 text-base pb-6 " style="font-size: 30px;">JOIN US!!!</p>
                        <p class="text-gray-700 text-base">
                            Shake your hands with us and you will never face any technology related issues anymore. We assure to be your best friend who will always be there in any problem.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ===============blue box=========== -->
<section>
    <div class="place-items-center ">
        <img style="height: 500px;align-content: center;" class="px-48"
            src='https://whiltor.com/assets/img/aboutend.png'>
    </div>
</section>
<!-- ==============section lastup====== -->
<section>
    <div class="grid grid-cols-1 place-items-center">
        <p class="text-4xl pb-12 ">Reasons to Choose Us</p>
        <p class="text-xl text-gray-500">We at Whiltor Focus on Understanding Your Business Objectives and Target and
            Treat them as Our Own</p>
        <!-- 4 cards  -->
        <div class="grid grid-cols-3 place-items-center">
            <div><img src="https://whiltor.com/assets/img/img9/img9NoShadowNoBg.png"></div>
            <div class="col-span-2">
                <div class="grid grid-cols-3 place-items-center">

                    <div class="max-w-sm rounded overflow-hidden shadow-lg"
                        style="margin: 60px; background-color: white;">

                        <div class="px-6 py-4 text-center">
                            <i style="font-size: 100px;color:yellow;" class="fa fa-clock-o"></i>
                            <p class="text-gray-700 text-base pb-6 " style="font-size: 25px;">24/7 Availability</p>
                            <p class="text-gray-700 text-base">
                                Offering 24/7 Experts Availability
                            </p>
                        </div>

                    </div>

                    <div class="grid grid-cols-1">
                        <div class="max-w-sm rounded overflow-hidden shadow-lg"
                            style="margin: 60px; background-color: white;">

                            <div class="px-6 py-4 text-center">
                                <i style="font-size: 100px;color:yellow;" class="fa fa-group"></i>
                                <p class="text-gray-700 text-base pb-6 " style="font-size: 25px;">Expert Solutions</p>
                                <p class="text-gray-700 text-base">
                                    Precise & Effective Expert Solutions
                                </p>
                            </div>

                        </div>

                        <div class="max-w-sm rounded overflow-hidden shadow-lg"
                            style="margin: 60px; background-color: white;">

                            <div class="px-6 py-4 text-center">
                                <i style="font-size: 100px;color:yellow;" class="fa fa-bar-chart-o"></i>
                                <p class="text-gray-700 text-base pb-6 " style="font-size: 25px;">Industrial Insights
                                </p>
                                <p class="text-gray-700 text-base">
                                    Deep Consulting Expertise Insights.
                                </p>
                            </div>

                        </div>
                    </div>

                    <div class="max-w-sm rounded overflow-hidden shadow-lg"
                        style="margin: 60px; background-color: white;">

                        <div class="px-6 py-4 text-center">
                            <i style="font-size: 100px;color:yellow;" class="fa fa-television"></i>
                            <p class="text-gray-700 text-base pb-6 " style="font-size: 25px;">Morden Technology</p>
                            <p class="text-gray-700 text-base">
                                Latest and Advanced Technology </p>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
{% endblock %}