{% extends 'default.html'%}

{% block content %}
<!-- section 1 -->

    <section class="container-fluid">
        <div
            class="block sm:block md:flex sm:justify-content-center  md:justify-content-center flex-row-reverse lg:flex flex-row-reverse">
            <img src="https://whiltor.com/assets/img/reviewImgs/img1.png">
            <div>
                <p class="text-black-800 text-3xl">Accelerate your Growth and <br>Success with Whiltor</p>
                <p>Whiltor is here for your business in this ever-changing times,</p>
                <p>offering the greatest advice and support. We are a team of </p>
                <p>experienced and passionate people who are passionate about </p>
                <p>building a better future for our clients.</p>
                <span class="bg-yellow-400 text-2xl rounded ">&nbsp&nbspGet Started &nbsp&nbsp</span>
            </div>
        </div>
    </section>

    <!-- section 2 -->
    <section>
        <div class=" block sm:block md:flex lg:flex">
            <div class="block sm:block md:flex lg:flex">
                <div class="max-w-sm rounded overflow-hidden shadow-lg"
                    style="background-color: rgb(226, 217, 217);margin: 60px;">
                    <div class="px-6 py-4">
                        <img class="h-24" src="https://whiltor.com/assets/img/elements-03.png">
                        <p class="text-gray-700 text-base pb-6 " style="font-size: 30px;">Product Development</p>
                        <p class="text-gray-700 text-base">
                            Overall development for your business.
                        </p>
                    </div>

                </div>

                <div class="max-w-sm rounded overflow-hidden shadow-lg"
                    style="background-color: rgb(226, 217, 217);margin: 60px;">
                    <div class="px-6 py-4">
                        <img class="h-24" src="https://whiltor.com/assets/img/elements-01.png">
                        <p class="text-gray-700 text-base pb-6 " style="font-size: 30px;">Consultancy</p>
                        <p class="text-gray-700 text-base">
                            Best consultancy for your business.
                        </p>
                    </div>

                </div>
            </div>
            <div class="block sm:block md:block lg:flex">




                <div class="max-w-sm rounded overflow-hidden shadow-lg"
                    style="background-color: rgb(226, 217, 217);margin: 60px;">
                    <div class="px-6 py-4">
                        <img class="h-24" src="https://whiltor.com/assets/img/elements-05.png">
                        <p class="text-gray-700 text-base pb-6 " style="font-size: 30px;">Branding</p>
                        <p class="text-gray-700 text-base">
                            Take your brand to the highest of reach.
                        </p>
                    </div>

                </div>




            </div>



        </div>
    </section>

    <!-- section 3 -->
    <section>
        <p class="text-3xl text-center">Strategize, Innovate and Transform With Whiltor</p>
        <div class="block sm:block md:flex lg:flex">
            <img src="https://whiltor.com/assets/img/thinking.png">
            <div class="block sm:block md:block lg:block">
                <p>No matter where you are on your journey, Whiltor's consulting services can take you from strategy to
                    execution. We at Whiltor leverage modern interfaces and technologies to improve your digital
                    customer experience. We analyze your business and provide analytically created strategies to help
                    you grow your business. We at Whiltor help you to create a better future for your business.</p>
                <div class="flex h-16">
                    <img
                        src="https://equalconsultancy.com/new/wp-content/uploads/2022/12/9d46cdae-web-gtku-logo-001-js-001.png">

                    <img src="https://www.rightstufanime.com/images/blog/connect-with-us-thumb.jpg">
                    <img
                        src="https://thumbs.dreamstime.com/b/come-grow-us-banner-recruitment-ad-heading-human-resources-documents-recruitment-teamwork-personal-growth-186885369.jpg">
                </div>
            </div>
        </div>
    </section>

    <!-- section 4 -->
    <section>
        <p class="text-5xl text-center">What we do?</p>
        <p class="text-center">We believe in building strong brands, well-crafted content, and integrated strategies to
            help you grow your business.</p>
        <div class=" block sm:block md:flex lg:flex">

            <div class="h-3xl bg-blue-500 rounded-full overflow-hidden w-1/2 ">bryurhyufhyufyuhvyuv</div>

            <div class="block sm:block md:block lg:block">
                <div class="max-w-sm rounded overflow-hidden shadow-lg"
                    style="background-color: rgb(226, 217, 217);margin: 60px;">
                    <div class="px-6 py-4">
                        <p class="text-gray-700 text-base pb-6 " style="font-size: 30px;">Strategize</p>
                        <p class="text-gray-700 text-base">
                            We leverage cutting-edge technologies to create smarter and customised strategies.
                        </p>
                    </div>

                </div>

                <div class="max-w-sm rounded overflow-hidden shadow-lg"
                    style="background-color: rgb(226, 217, 217);margin: 60px;">
                    <div class="px-6 py-4">
                        <p class="text-gray-700 text-base pb-6 " style="font-size: 30px;">Process</p>
                        <p class="text-gray-700 text-base">
                            We plan based on your objectives and then process it to ensure efficient growth.
                        </p>
                    </div>

                </div>
            </div>

            <div class="block sm:block md:block lg:block">
                <div class="max-w-sm rounded overflow-hidden shadow-lg"
                    style="background-color: rgb(226, 217, 217);margin: 60px;">
                    <div class="px-6 py-4">
                        <p class="text-gray-700 text-base pb-6 " style="font-size: 30px;">Implement</p>
                        <p class="text-gray-700 text-base">
                            To keep up with the world, we upgrade and implement plans and strategies together.
                        </p>
                    </div>
                </div>


                <div class="max-w-sm rounded overflow-hidden shadow-lg"
                    style="background-color: rgb(226, 217, 217);margin: 60px;">
                    <div class="px-6 py-4">
                        <p class="text-gray-700 text-base pb-6 " style="font-size: 30px;">Achieve</p>
                        <p class="text-gray-700 text-base">
                            Achieve your success us from consulting to development, we've got you covered.
                        </p>
                    </div>

                </div>
            </div>




        </div>



        </div>
    </section>

    <!-- section 5 -->
    <section>
        <p class="text-5xl text-center">Why Consult Us?</p>
        <p class="text-center">Consult with us to solve your problems and grow your business.</p>
        <div class="block sm:block md:flex flex-row-reverse lg:flex flex-row-reverse">
            <div>
                <img src="https://whiltor.com/assets/img/consultancyimg.png">
            </div>
            <div class="block sm:block md:flex lg:flex">
                <div class="block sm:block md:block lg:block">

                    <div class="max-w-sm rounded overflow-hidden shadow-lg"
                        style="background-color: rgb(226, 217, 217);margin: 60px;">
                        <div class="px-6 py-4">
                            <p class="text-gray-700 text-base pb-6 " style="font-size: 30px;">Achieve</p>
                            <p class="text-gray-700 text-base">
                                Achieve your success us from consulting to development, we've got you covered.
                            </p>
                        </div>
                    </div>

                    <div class="max-w-sm rounded overflow-hidden shadow-lg"
                        style="background-color: rgb(226, 217, 217);margin: 60px;">
                        <div class="px-6 py-4">
                            <p class="text-gray-700 text-base pb-6 " style="font-size: 30px;">Achieve</p>
                            <p class="text-gray-700 text-base">
                                Achieve your success us from consulting to development, we've got you covered.
                            </p>
                        </div>

                    </div>

                </div>

                <div class="md:pt-32 lg:pt-28">
                    <div class="max-w-sm rounded overflow-hidden shadow-lg"
                        style="background-color: rgb(226, 217, 217);margin: 60px;">
                        <div class="px-6 py-4">
                            <p class="text-gray-700 text-base pb-6 " style="font-size: 30px;">Achieve</p>
                            <p class="text-gray-700 text-base">
                                Achieve your success us from consulting to development, we've got you covered.
                            </p>
                        </div>
                    </div>


                </div>
            </div>
    </section>

    <!-- section 6 -->
    <section>
        <div class="place-items-center flex px-96">
            <img src="https://whiltor.com/assets/img/img22/img22NoShadowNoBg.png">
            <div style="overflow: hidden;
        width: 420px;
        font-family: Quicksand, arial, sans-serif;
        box-shadow: 0 0 20px rgb(0 0 0 / 5%), 0 0px 40px rgb(0 0 0 / 8%);
        border-radius: 8px;
        background: #fff;">
                <h3 class="text-center mt-3 ">Contact us</h3>
                
                <form action="consultancyTask" method="post">
                    {% csrf_token %}
                    <i class="fa fa-pencil mx-12 my-4 p-4" style="background-color:#ffce00 ;border-radius: 50%;"></i><input name="name" type="text" placeholder="Full Name" required>
                    <br>
                    <i class="fa fa-envelope-open mx-12 my-4 p-4" style="background-color:#ffce00 ;border-radius: 50%;"></i><input name="email" type="email" placeholder="E-mail" required>
                    <br>
                    <i class="fa fa-phone mx-12 my-4 p-4" style="background-color:#ffce00 ;border-radius: 50%;"></i><input name="contact" type="text" placeholder="Contact Number" required>
                    <br>
                    <i class="fa fa-telegram mx-12 my-4 p-4" style="background-color:#ffce00 ;border-radius: 50%;"></i><input type="text" name="query" placeholder="Query" required>
    
                    <input type="submit" value="Submit" style="background-color:#ffce00 ;border-radius: 20px;font-size: 25px;font-weight: bold;" class=" my-4 mx-40 p-2" >
                </form>
    
            </div>
            
            </div>
            
    </section>

    {% endblock %}