{% extends 'default.html'%}
{% block content%}
    <!-- =============== section 1 landing page================ -->
    <section>
        <div class="grid grid-cols-2 h-screen">
            <div>
                <div>
                    <p class="text-2xl">Trust and Excellence in Every Way</p>
                    <p>Bridge the gap between your vision and its reality with the best-in-industry services provided by
                        Whiltor.</p>
                </div>
                <!-- 3 card -->
                <div class="grid grid-cols-3">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <!-- ------- -->
            </div>

            <div style="position: relative;">
                <img style="position: absolute;" src="https://www.whiltor.com/assets/img/portfolio/whiltor-08.png">
                <img style="position: absolute;" src="https://www.whiltor.com/assets/img/portfolio/whiltor-01.png">
                <img style="position: absolute;" src="https://www.whiltor.com/assets/img/portfolio/whiltor-02.png">
                <img style="position: absolute;" src="https://www.whiltor.com/assets/img/portfolio/whiltor-03.png">
                <img style="position: absolute;" src="https://www.whiltor.com/assets/img/portfolio/whiltor-04.png">
                <img style="position: absolute;" src="https://www.whiltor.com/assets/img/portfolio/whiltor-05.png">
                <img style="position: absolute;" src="https://www.whiltor.com/assets/img/portfolio/whiltor-06.png">
            </div>
        </div>
    </section>
    <!-- ================== section2 ========================= -->
    <section>
        <div class="grid grid-cols-1 place-items-center">
            <p class="text-3xl font-bold">WHILTOR HELPS YOU DELIVER SUPERIOR CUSTOMER EXPERIENCE</p>
            <div class="grid grid-cols-3 place-items-center py-16">
                <div><img class="h-96" src="https://www.whiltor.com/assets/img/img13/img13NoShadowNoBg.png"></div>
                <div class="col-span-2 px-16 text-gray-400">An immersive and seamless experience for clients is no more
                    a pipe dream, but a reality. With our strategically created plans, we at Whiltor provide you with a
                    competitive strategy that is future-proof and helps your business accomplish the desired results.
                    Our outcome-focused approach allows us to gain valuable insight into customer behaviors.Which
                    enhances and simplifies customer experience and acclerates your business growth from strategy to
                    execution.</div>
            </div>
        </div>
    </section>

    <!-- =================section 3 blue backgroound============== -->
    <section>
        <div class="h-96 bg-blue-500">
            <img class="h-96 w-screen" src="https://www.whiltor.com/assets/backs/3185947.jpg">

        </div>
    </section>

    <!-- ===================section 4================== -->
    <section>
        <div class="grid grid-cols-1 place-items-center py-16">
            <p class="text-4xl font-bold">LET'S MAKE A DIFFERENCE TOGETHER.</p>
            <p class="text-xl text-gray-400 py-8">We at Whiltor help you turn your idea into a product.</p>
            <div class="grid grid-cols-3 place-items-center">
                <div>
                    <img src="https://whiltor.com/assets/img/business-3d-well-done.png" class="-mb-32 px-32 ">
                    <div class="max-w-sm rounded overflow-hidden shadow-lg"
                        style="margin: 30px;background-color: white;">
                        <div class="px-6 pt-24 pb-6">
                            <p class="text-gray-700 text-base pb-6 " style="font-size: 30px;">Staergize</p>
                            <p class="text-gray-700 text-base">
                                Our strategic insights, and innovative ideas for your future objectives will assist you
                                in taking your brand to new heights.
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <img src="https://whiltor.com/assets/img/business-3d-with-phone-girl-5.png"
                        class="-mb-32 px-32 mt-24">
                    <div class="max-w-sm rounded overflow-hidden shadow-lg mt-24"
                        style="margin: 30px;background-color: white;">
                        <div class="px-6 pt-24 pb-6">
                            <p class="text-gray-700 text-base pb-6 " style="font-size: 30px;">Innovate</p>
                            <p class="text-gray-700 text-base">
                                Bridge the gap between technology and your business by implementing era-appropriate
                                innovations to boost your brand's value.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <img src="https://whiltor.com/assets/img/business-3d-283.png" class="-mb-32 px-32 ">
                    <div class="max-w-sm rounded overflow-hidden shadow-lg"
                        style="margin: 30px;background-color: white;">
                        <div class="px-6 pt-24 pb-6">
                            <p class="text-gray-700 text-base pb-6 " style="font-size: 30px;">Transfrom</p>
                            <p class="text-gray-700 text-base">
                                Transform your ideas to reality with Whiltor. When it comes to your dream, don't leave
                                anything out connect with us.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==================section 5 darkblue======  -->
    <section>
        <div>
            <img src="https://whiltor.com/assets/img/scut1.png">
            <div class="grid grid-cols-2" style="height: 600px; background-color: #1A2942;">
                <div class="place-items-center text-center">
                    <p class="text-4xl font-bold " style="color: white;">Why Us ?</p>
                    <select>
                        <option>01 Available any time and any situation</option>
                        <option>We are available to our customers everytime so that they do not have to wait to consult about their problems.</option>
                    </select>

                </div>
                <div>
                    <img src="https://whiltor.com/assets/img/img9/img9NoShadowNoBg.png">
                </div>
            </div>
            <img src="https://whiltor.com/assets/img/scut2.png">
        </div>
    </section>

    <!-- ===============section 6================= -->
    <section>
        <div class="grid grid-cols-1 place-items-center py-16">
            <p class="text-4xl font-bold">CREATIVE THINKING , EFFECTIVE SOLUTIONS</p>
            <p class="text-xl text-gray-400 py-8">Connect with Whiltor and experience unique solutions for every unique business.</p>
            <div class="grid grid-cols-3 place-items-center py-16">
                <div class="text-center place-items-center ">
                    <center>
                    <img class="h-16 mb-12" src="https://whiltor.com/assets/img/web-design.png">
                    </center>  
                    <p class="text-xl text-gray-600 ">Morden Graphics</p> 
                    <p class="text-gray-600">We also offer visually appealing videos to help you define your brand or expand your current business</p>                
                </div>
                <div  class="text-center place-items-center">
                    <center>
                    <img class="h-16 mb-12" src="https://whiltor.com/assets/img/analysis.png">  
                    </center>
                    <p class="text-xl text-gray-600 ">Strategic Diversity</p> 
                    <p class="text-gray-600">With our distinctiveness in business, we deliver the finest plan based on your needs.</p>                
                </div>
                <div class="text-center place-items-center">
                    <center>
                    <img class="h-16 mb-12" src="https://whiltor.com/assets/img/fist.png">  
                    </center>
                    <p class="text-xl text-gray-600 ">Powerful and Sustainable</p> 
                    <p class="text-gray-600">We plan to assure the long-term viability of your growth with our robust technical solutions.</p>                
                </div>
            </div>
        </div>
    </section>
    <!-- ==========About Us================= -->
    <section>
        
            
            <div class="grid grid-cols-3 place-items-center py-16">
                
                <div class="col-span-2 px-52 ">
                    <p class="text-3xl">About Us</p>
                    <p class="text-gray-400">An immersive and seamless experience for clients is no more
                    a pipe dream, but a reality. With our strategically created plans, we at Whiltor provide you with a
                    competitive strategy that is future-proof and helps your business accomplish the desired results.
                    Our outcome-focused approach allows us to gain valuable insight into customer behaviors.Which
                    enhances and simplifies customer experience and acclerates your business growth from strategy to
                    execution.</p></div>
                
                    <div><img class="h-96" src="https://whiltor.com/assets/img/img6/img6NoShadowNoBg.png"></div>
            </div>
    </section>
    <!-- ===========section second last ======== -->
    <section>
        <div class="grid grid-cols-1 place-items-center">
            <p class="text-4xl pb-12 ">OUR SERVICES</p>
            <p class="text-xl text-gray-500">Whiltor offers a wide range of services to assist you in establishing your brand in the market

            </p>
            <!-- 4 cards  -->
            <div class="grid grid-cols-3 place-items-center">

                <div class="max-w-sm rounded overflow-hidden shadow-lg" style="margin: 60px; background-color: white;">
                    <div class="max-w-sm rounded-b-sm overflow-hidden shadow-lg bg-blue-300 h-2 ">
                    </div>

                    <div class="px-6 py-4">
                        <p class="text-gray-700 text-base pb-6 " style="font-size: 30px;">Branding</p>
                        <p class="text-gray-700 text-base">
                            We work with to develop a unique brand identity through effective brand strategy and brand marketing.
                        </p>
                    </div>
                    
                </div>

            <div  class="grid grid-cols-1">
                <div class="max-w-sm rounded overflow-hidden shadow-lg" style="margin: 60px; background-color: white;">

                    <div class="max-w-sm rounded-b-sm overflow-hidden shadow-lg bg-red-600 h-2 ">
                    </div>

                    <div class="px-6 py-4">
    
                        <p class="text-gray-700 text-base pb-6 " style="font-size: 30px;">Consultancy</p>
                        <p class="text-gray-700 text-base">
                            We provide free consultation and proactive solutions to assure the growth and effectiveness of your vision.
                        </p>
                    </div>
                    
                </div>
                
                <div class="max-w-sm rounded overflow-hidden shadow-lg" style="margin: 60px; background-color: white;">
                    <div class="max-w-sm rounded-b-sm overflow-hidden shadow-lg bg-yellow-300 h-2 ">
                    </div>
                    <div class="px-6 py-4">    
                        <p class="text-gray-700 text-base pb-6 " style="font-size: 30px;">Planning</p>
                        <p class="text-gray-700 text-base">
                            With our experienced analysis, we provide with innovative strategic ideas to help you grow your brand.
                        </p>
                    </div>
                    
                </div>
            </div>

            <div class="max-w-sm rounded overflow-hidden shadow-lg" style="margin: 60px; background-color: white;">
                <div class="max-w-sm rounded-b-sm overflow-hidden shadow-lg bg-purple-800 h-2 ">
                </div>
                <div class="px-6 py-4">

                    <p class="text-gray-700 text-base pb-6 " style="font-size: 30px;">Product Development</p>
                    <p class="text-gray-700 text-base">
                        We provide a wide range of product development services, including websites and software, all with cutting-edge technology.
                    </p>
                </div>
                
            </div>

            </div>
            
        </div>
    </section>
    <!-- ===========section up=============== -->
    <section>
        <div class="grid grid-cols-1 place-items-center">
            <p class="text-4xl pb-12 ">Whiltor Offers 24/ 7 Support</p>
            <p class="text-xl text-gray-500">Whiltor is here to assist you at every step of the way.</p>
            <div class="grid grid-cols-2 place-items-center py-16">
                <div><img class="h-96" src="https://whiltor.com/assets/img/portfolio.png"></div>
                <div class=" px-16 text-gray-400">
                    <div class="p-4 m-8" style="background-color: white;border-radius: 5px;"><i class="fa fa-rocket" style="font-size: 50px;color: black;padding-right: 20px;"></i>We at Whiltor answer all your queries with Intelligence powered bot.</div>

                    <div  class="p-4 m-8" style="background-color: white;border-radius: 5px;"><i class="fa fa-group" style="font-size: 50px;color: black;padding-right: 20px"></i>Our team offers free consultation to help you find the best solution.</div>

                    <div  class="p-4 m-8" style="background-color: white;border-radius: 5px;"><i class="fa fa-briefcase" style="font-size: 50px;color: black;padding-right: 20px"></i>Whiltor works with consumers one-on-one to give best assistance.</div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}