{% extends 'default.html' %}
{% block content%}
<!-- =========================section1===================== -->
<section>
    <div class="grid grid-cols-3 px-16 place-items-center">
        <div>
            <ul>
                <li class=" text-gray-900 text-4xl">Scale your Vision to Market</li>
                <li class=" text-gray-600 text-xl py-8">
                    Get the best solutions for Hiring and Marketing with Specialized Consultancy</li>
                <li class=" text-gray-600 py-4">Every search and vision comes in action with the best consultation
                    and is uplifted by the Human Resource and Marketing Team</li>
                <li class=" py-4"><a class="px-2 py-2 text-xl" href="#">Know More</a>
                </li>
            </ul>
        </div>
        <div>
            <img src="https://www.whiltor.com/assets/img/img8/img8NoShadowNoBg.png">
        </div>
        <div>
            <ul>
                <li class="font-medium text-gray-700"><i class="fa fa-headphones fa-3x"
                        style="background-color:yellow; color: white;padding: 10px;border-radius: 10px;margin: 40px;"
                        aria-hidden="true"></i>Consultancy</li>
                <li class="font-medium text-gray-700"><i class="fa fa-group fa-3x" aria-hidden="true"
                        style="background-color:yellow; color: white;padding: 10px;border-radius: 10px;margin: 40px;"></i>Human
                    Resources</li>
                <li class="font-medium text-gray-700 "><i class="fa fa-tasks fa-3x" aria-hidden="true"
                        style="background-color:yellow; color: white;padding: 10px;border-radius: 10px;margin: 40px;"></i>Maketing
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- =====================section2============================== -->

<section>
    <div class="grid grid-cols-3 px-16 place-items-center">
        <div class="max-w-sm rounded overflow-hidden shadow-lg" style="margin: 60px; background-color: white;">
            <div class="px-6 py-4">

                <p class="text-gray-700 text-base pb-6 " style="font-size: 30px;">Development</p>
                <p class="text-gray-700 text-base">
                    Lorem ipsum dolor sit amet consectetur .
                </p>
            </div>
            <div class="max-w-sm rounded-b-sm overflow-hidden shadow-lg bg-pink-200 h-2 ">
            </div>
        </div>
        <div class="max-w-sm rounded overflow-hidden shadow-lg" style="margin: 60px;background-color: white;">
            <div class="px-6 py-4">
                <p class="text-gray-700 text-base pb-6 " style="font-size: 30px;">Designing</p>
                <p class="text-gray-700 text-base">
                    Lorem ipsum dolor sit amet consectetur .
                </p>
            </div>
            <div class="max-w-sm rounded-b-sm overflow-hidden shadow-lg bg-blue-200 h-2 ">
            </div>
        </div>
        <div class="max-w-sm rounded overflow-hidden shadow-lg" style="margin: 60px;background-color: white;">
            <div class="px-6 py-4">
                <p class="text-gray-700 text-base pb-6 " style="font-size: 30px;">Consultancy</p>
                <p class="text-gray-700 text-base">
                    Lorem ipsum dolor sit amet consectetur .
                </p>
            </div>
            <div class="max-w-sm rounded-b-sm overflow-hidden shadow-lg bg-blue-400 h-2 ">
            </div>
        </div>
    </div>
</section>

<!-- ========================section 3============================ -->
<section>
    <div class="grid grid-cols-1 place-items-center">
        <p class=" text-gray-900 text-4xl">What Makes Us Unique</p>
        <p class=" text-gray-500 text-md py-8 ">What sets us apart is our ability to think beyond the box.</p>
        <div class="grid grid-cols-2 place-items-center">
            <div><img src="https://www.whiltor.com/assets/img/img9/img9NoShadowNoBg.png"></div>
            <div>Whiltor is renowned for providing high-quality marketing, branding, and development services.
                Whiltor can assist you in turning your concept into a product. We analyse the model before
                strategizing, planning, and implementing to make your goal a reality.Whiltor is assisting thousands
                of businesses in growing and establishing a brand image that will help them reach their business
                objectives more quickly.

                <div class="grid grid-cols-3 place-items-center py-8">
                    <div>
                        <div
                            class="text-2xl h-12 w-12 border-4 border-blue-500 rounded-md content-justify-center text-center">
                            1</div>Strategize
                    </div>

                    <div>
                        <div
                            class="text-2xl h-12 w-12 border-4 border-blue-500 rounded-md content-justify-center text-center">
                            2</div>Implement
                    </div>

                    <div>
                        <div
                            class="text-2xl h-12 w-12 border-4 border-blue-500 rounded-md content-justify-center text-center">
                            3</div>Grow
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================section5=========== -->
<section>
    <div class="grid grid-cols-2 place-items-center">
        <div>
            <img src="https://www.whiltor.com/assets/img/3d-girl.png" class="-mb-32 h-64 px-32">
            <div class="max-w-sm rounded overflow-hidden shadow-lg" style="margin: 30px;background-color: white;">

                <div class="px-6 pt-24 pb-6">
                    <p class="text-gray-700 text-base pb-6 " style="font-size: 30px;">Product Development</p>
                    <p class="text-gray-700 text-base">
                        A well begun is half done. We give you the perfect beginning, provide you with every
                        resource you need to start your product.
                    </p>
                </div>
            </div>
        </div>
        <div>
            <img src="https://www.whiltor.com/assets/img/business-3d-351.png" class="-mb-32 h-64 px-32 ">
            <div class="max-w-sm rounded overflow-hidden shadow-lg" style="margin: 30px;background-color: white;">
                <div class="px-6 pt-24 pb-6">
                    <p class="text-gray-700 text-base pb-6 " style="font-size: 30px;">Product Development</p>
                    <p class="text-gray-700 text-base">
                        A well begun is half done. We give you the perfect beginning, provide you with every
                        resource
                        you need to start your product.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- =========================section 6================ -->
<div class="grid grid-cols-3 place-items-center px-4">
    <div>
        <img src="https://www.whiltor.com/assets/img/business-3d-well-done.png" class="-mb-32 px-32 ">
        <div class="max-w-sm rounded overflow-hidden shadow-lg" style="margin: 30px;background-color: white;">
            <div class="px-6 pt-24 pb-6">
                <p class="text-gray-700 text-base pb-6 " style="font-size: 30px;">Product Development</p>
                <p class="text-gray-700 text-base">
                    A well begun is half done. We give you the perfect beginning, provide you with every
                    resource
                    you need to start your product.
                </p>
            </div>
        </div>
    </div>
    <div>
        <img src="https://www.whiltor.com/assets/img/business-3d-283.png" class="-mb-32 px-32 ">
        <div class="max-w-sm rounded overflow-hidden shadow-lg" style="margin: 30px;background-color: white;">
            <div class="px-6 pt-24 pb-6">
                <p class="text-gray-700 text-base pb-6 " style="font-size: 30px;">Product Development</p>
                <p class="text-gray-700 text-base">
                    A well begun is half done. We give you the perfect beginning, provide you with every
                    resource
                    you need to start your product.
                </p>
            </div>
        </div>
    </div>
    <div>
        <img src="https://www.whiltor.com/assets/img/business-3d-with-phone-girl-1.png" class="-mb-32 px-32 ">
        <div class="max-w-sm rounded overflow-hidden shadow-lg" style="margin: 30px;background-color: white;">
            <div class="px-6 pt-24 pb-6">
                <p class="text-gray-700 text-base pb-6 " style="font-size: 30px;">Product Development</p>
                <p class="text-gray-700 text-base">
                    A well begun is half done. We give you the perfect beginning, provide you with every
                    resource
                    you need to start your product.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- ================section 7  1,2,3,4,5=================== -->

<section>
    <div class="grid grid-cols-1 place-items-center">
        <p class=" text-gray-900 text-4xl">What we do?</p>
        <p class=" text-gray-500 text-md py-8 ">Our Artificial Intelligence powered tools use millions of project
            data</p>
        <div class="grid grid-cols-2">
            <div><span class="text-8xl text-gray-400 pl-8">1</span>
                <div class="flex">
                    <p class="text-3xl pl-16">Want to start your own business but lack the necessary
                        team, skills, or resources?</p>
                    <img class="h-40 pl-16" src="https://www.whiltor.com/assets/img/timeline-1.png">
                </div>
            </div>
            <div></div>
        </div>
    </div>
    <div class="grid grid-cols-3">
        <div></div>
        <div class="h-16 border-l-4 border-gray-300"></div>
        <div></div>
    </div>
    <div class="grid grid-cols-3">
        <div></div>
        <div class="h-16 border-r-4 border-t-4 border-gray-300"></div>
        <div></div>
    </div>

    <div class="grid grid-cols-2">
        <div></div>
        <div><span class="text-8xl text-gray-400">2</span>
            <div class="flex">
                <img class="h-40 pl-16" src="https://www.whiltor.com/assets/img/timeline-2.png">
                <p class="text-3xl pl-16">Don't worry! You are at the right place. Whiltor will assist you.</p>

            </div>
        </div>

    </div>
    </div>
    <div class="grid grid-cols-3">
        <div></div>
        <div class="h-16 border-r-4 border-gray-300"></div>
        <div></div>
    </div>
    <div class="grid grid-cols-3">
        <div></div>
        <div class="h-16 border-l-4 border-t-4 border-gray-300"></div>
        <div></div>
    </div>

    <div class="grid grid-cols-2">
        <div><span class="text-8xl text-gray-400 pl-8">3</span>
            <div class="flex">
                <p class="text-3xl pl-16">Give us a call or send us a message, and we'll figure out a solution for
                    you.</p>
                <img class="h-40 pl-16" src="https://www.whiltor.com/assets/img/timeline-5.png">
            </div>
        </div>
        <div></div>
    </div>
    </div>
    <div class="grid grid-cols-3">
        <div></div>
        <div class="h-16 border-l-4 border-gray-300"></div>
        <div></div>
    </div>
    <div class="grid grid-cols-3">
        <div></div>
        <div class="h-16 border-r-4 border-t-4 border-gray-300"></div>
        <div></div>
    </div>

    <div class="grid grid-cols-2">
        <div></div>
        <div><span class="text-8xl text-gray-400">4</span>
            <div class="flex">
                <img class="h-40 pl-16" src="https://www.whiltor.com/assets/img/timeline-4.png">
                <p class="text-3xl pl-16">You may even hand over your project to us, and we will finish it according
                    to your specifications.</p>

            </div>
        </div>

    </div>
    </div>
    <div class="grid grid-cols-3">
        <div></div>
        <div class="h-16 border-r-4 border-gray-300"></div>
        <div></div>
    </div>
    <div class="grid grid-cols-3">
        <div></div>
        <div class="h-16 border-l-4 border-t-4 border-gray-300"></div>
        <div></div>
    </div>

    <div class="grid grid-cols-2">

        <div><span class="text-8xl text-gray-400 pl-8">5</span>
            <div class="flex">

                <p class="text-3xl pl-16">It's that easy to collaborate with us: connect, share, and execute, and
                    you're done.</p>
                <img class="h-40 pl-16" src="https://www.whiltor.com/assets/img/img21/img21NoShadowNoBg.png">

            </div>
        </div>
        <div></div>

    </div>

    </div>
</section>

<!-- =====================section prizing========== -->
<section>
    <div class="grid grid-cols-1 place-items-center">
        <p class=" text-gray-900 text-5xl">Pricing</p>
        <p class=" text-gray-500 text-md py-8 text-xl">Lorem ipsum dolor sit amet, consectetur adipisci elit, sed
            eiusmod tempor incidunt ut labore et dolore magna aliqua.</p>
    </div>
</section>

<!-- ====================section callback=========== -->
<section>
    <div class="container-fluid md:ml-0 mt-64">
        <div class="md:grid md:grid-cols-3 gap-10 shadow-2xl">
            <div class="p-12">
                <div>
                    <h1>Request a callback</h1>
                    <h5>Are you stuck on something that is interfering with your dream project? Connect with us
                        now. We offer solutions for all of your challenges, from project development to branding
                        and marketing, we can meet all of your requirements. With just a phone call, you may
                        have all of your services delivered right to your door.</h5>
                </div>
            </div>
            <div>
                <img src="https://whiltor.com/assets/img/book-service.png"
                    class="md:w-80 md:h-80 content-center animate-bounce" style="margin-top: -1px;">
            </div>
            <div class="md:pt-10 md:pl-10">
                <button class="bg-blue-400 font-bold m-8 p-2 font rounded-xl pr-12 pl-12">Call us</button>
            </div>
        </div>
    </div> <br><br><br><br>
</section>
{% endblock %}